.parent{
    background-color: red;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     
     
 }
.child {
    background-color: yellow;
    margin: 5px;
    padding: 13px;
    width: 20%;
}